{% extends "base.html" %} 
{% block title %} Ваши подписки: {% endblock %}
{% block header %}Авторы, на которых вы подписаны{% endblock %}

{% block content %}
    <div class="container">

        {% include "menu.html" with follow=True %}
        
            {% for post in page %}
                {% include "post_item.html" with post=post %}
            {% endfor %}

            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator%}
            {% endif %}


    </div>
{% endblock %}